OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=
OPENAI_MODEL=qwen3.5:latest
# OPENAI_MODEL=gemma4:latest

# 翻译超时时间，单位毫秒
TRANSLATE_TIMEOUT_MS=300000
# 分段翻译最大字符数. 默认 8000
TRANSLATE_MAX_CHUNK_SIZE=8000
# 是否严格按照 TRANSLATE_MAX_CHUNK_SIZE 分段。默认为 true
# TRANSLATE_MAX_CHUNK_SIZE_STRICT=false
